
#salesheader {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: black 3px;
  border-style: groove;
  height: 290px;
  
}

#salesh1 {
  background-color: rgba(187, 87, 87, 0.397);
  border-style: double;
  padding: .5em;
  color: rgb(56, 17, 17);
  text-align: center;
  position: sticky;
  margin: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}
#salesh2 {
  color: rgb(56, 17, 17);
  background-color: rgba(187, 87, 87, 0.397);
  border-style: double;
  padding: .5em;
  text-align: center;
  position: sticky;
  margin: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right: auto;
  margin-left: auto;
  width: 35%;
}
table, th, td {
  color: rgb(56, 17, 17);
  background-color: rgba(255, 248, 220, 0.336);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  border: 1px solid black;
  text-align: center;
  max-width: 800px;
}
form {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  /* max-width: 800px; */
  width: 400px;
  margin-bottom: 22px;
  margin-top: 15px;
  height: 200px;
  box-sizing: border-box;
  
}

fieldset {
margin: 10px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
font-size: 1em;
}

label {
  display: block;
  margin-top: 5px;
}
input {
  width: 70px;
}
#input1 {
  margin-left: 139px;
}
#input2 {
  margin-left: 6px;
}
#input3 {
  margin-left: 3px;
}
#returntostore {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  justify-content: center;
}

/* ----------------sales above index below------------------- */

#topbanner {
  background-color: rgba(0, 0, 0, 0.89);
  height: 60px;
}
#indexheader{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  font-style: italic;
  /* position: relative; */
  background-color:rgba(0, 0, 0, 0.87);
  /* width: 100%; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: rgba(187, 87, 87, 0.575) 5px;
  border-style: groove;
  height: 170px;
  width: 100%;
}

#indexh1container {
  width: 20%;
}
#indexh1 {
  color: rgb(221, 146, 146);
  border-style: double;
  padding: .5em;
  text-align: center;
  position: sticky;
  float: left;
  margin-left: 120px;
  width: 100%;
}

#salmonpng {
  display: flex;
  position: sticky;
  float: right;
  width: 22%;
  max-width: 100%;
  height: 115px;
  margin-right: 40px;
  margin-top: 15px;
}
#contact {
  position: sticky;
  float: right;
  margin-top: 85px;
  margin-right: 130px;
  font-weight: 500;
  display: flex;
  color: rgb(221, 146, 146);
  width: 50%;
  justify-content: space-between;
  font-size: .8em;
  padding: 0;
}
#contact li:nth-child(1){
  border-style: double;
  padding: .5em;
  text-align: center;
}
#contact li:nth-child(2) {
  border-style: double;
  padding: .5em;
  text-align: center;
}
#contact li:nth-child(3) {
  border-style: double;
  padding: .5em;
  text-align: center;
}
#contact li:nth-child(4) {
  border-style: double;
  padding: .5em;
  text-align: center;
}
#contact li:nth-child(5) {
  border-style: double;
  padding: .5em;
  text-align: center;
}

/* ---------------------------------- */
#section1 {
  display: flex;
  margin-top: 40px;
  height: 550px;
  margin-left: 100px;
  margin-right: 100px;
}
#indexh2container {
  width: 65%;
}
#indexh2 {
  font-size: 2.6em;
  background-color: rgba(187, 87, 87, 0.397);
  border-style: double;
  padding: .5em;
  text-align: center;
  /* position: sticky; */
  margin: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  /* margin-right: 40px;
  margin-left: auto; */
  width: 540px;
  margin-top: 20px;
  height: 330px;
  flex-wrap: wrap;
}
#cookie {
  width: 200px;
 float: right;
 width: fit-content;
 margin-top: 32px;
}
#fish {
  width: 240px;
float: left;
margin-top: 40px;
}
#paracontainer {
  width: 35%;
}
#para {
  float: right;
  /* float: right; */
  background-color: rgba(187, 87, 87, 0.397);
  border-style: double;
  padding: .4em;
  text-align: left;
  margin: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* margin-right: auto;
  margin-left: auto; */
  font-size: 1.2em;
  font-weight: 300;
  height: 340px;
  /* padding-bottom: 20px; */
}
#cutter {
  width: 180px;
  margin-right: 180px;
  margin-left: 180px;
}
/* ------------------------------------------------------- */
#linked {
  display: flex;
  margin-top: 40px;
  height: 550px;
  margin-left: 100px;
  margin-right: 100px;
  /* float: right;
  width: 50%;
  margin-right: 70px; */
}
#family {

}
#familyP {

}
#familyContainer {
  width: 65%;
}
#familyP {
  font-size: 2.1em;
  background-color: rgba(187, 87, 87, 0.397);
  border-style: double;
  padding: .5em;
  text-align: center;
  margin: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 540px;
  margin-top: 120px;
  height: 240px;
  flex-wrap: wrap;
}

#indexFooter {
display: flex;
justify-content: center;
}

ul {
  list-style: none;
}
main {
  margin-left: 40px;
  margin-right: 40px;
}
body {
  background: linear-gradient(to right, rgba(180, 104, 117, 0.658), rgba(180, 82, 82, 0.514), rgba(196, 116, 116, 0.527), rgba(190, 90, 90, 0.322), rgba(170, 170, 108, 0.418), rgba(128, 128, 70, 0.342), rgba(190, 90, 90, 0.322), rgba(196, 116, 116, 0.527), rgba(180, 82, 82, 0.514), rgba(180, 104, 117, 0.658));
  box-sizing: border-box;
  margin: 0;
}
html {
  border-style: groove;
  border-collapse: collapse;
  border-color: rgba(0, 0, 0, 0.808);
  border-width: 10px;
/* align-content: center; */
}